<!DOCTYPE html>
<html lang="en" ng-app="listaTelefonica">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="lib/bootstrap/bootstrap.css" />
    <link rel="stylesheet" href="css/app.css" />
    <link rel="stylesheet" href="css/ui.css" />
    <title>Lista Telefonica</title>
    <script src="lib/angular/angular.js"></script>
    <script src="js/app.js"></script>
    <script src="lib/angular/angular-locale_pt-br.js"></script>
    <script src="lib/angular/angular-messages.js"></script>
    <script src="js/controllers/listaTelefonicaController.js"></script>
    <script src="js/services//contatosAPIService.js"></script>
    <script src="js/services/operadorasAPIService.js"></script>
    <script src="js/services/serialGeneratorService.js"></script>
    <script src="js/config/serialGeneratorConfig.js"></script>
    <script src="js/value/configValue.js"></script>
    <script src="js/filters/nameFilter.js"></script>
    <script src="js/filters/ellipsisFilter.js"></script>
    <script src="js/directives/uiAlertDirective.js"></script>
    <script src="js/directives/uiDateDirective.js"></script>
    <script src="js/directives/uiFocusDirective.js"></script>
    <script src="js/directives/uiAccordionDirective.js"></script>
  </head>
  <body ng-controller="listaTelefonicaCtrl">
    <div class="p-5 mb-4 bg-light rounded-3">
      <h3>{{app}}</h3>

      <ui-accordions>
        <ui-accordion title="Accordio 1">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam
          pariatur reprehenderit sed ipsa, dolore itaque dicta, iusto, vel
          perspiciatis non sit praesentium. Repudiandae adipisci veniam ad
          inventore assumenda ex ipsam!
        </ui-accordion>
        <ui-accordion title="Accordio 2">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor
          laudantium modi sequi magni ullam unde? Sapiente libero inventore
          dicta voluptatibus aut asperiores recusandae corrupti velit soluta et
          quo, id nisi?
        </ui-accordion>
      </ui-accordions>
      <hr />

      <ui-alert ng-show="!!error" title="Ops, aconteceu um problema!"
        >{{error}}</ui-alert
      >
      <input
        class="form-control"
        type="text"
        placeholder="O que vc está buscando?"
        ng-model="criterioDeBusca"
      />
      <table class="table">
        <thead ng-show="contatos.length > 0">
          <th></th>
          <th>Serial</th>
          <th><a href="" ng-click="aplicarFiltroPor('nome')">Nome</a></th>
          <th>
            <a href="" ng-click="aplicarFiltroPor('telefone')">Telefone</a>
          </th>
          <th>Operadora</th>
          <th>Data</th>
          <th></th>
        </thead>
        <tbody>
          <tr
            ng-class="{'selecionado negrito': contato.selecionado}"
            ng-repeat="contato in contatos | filter:criterioDeBusca | orderBy:filtrarPor:direcaoDaOrdenacao"
          >
            <td>
              <input type="checkbox" ng-model="contato.selecionado" />
            </td>
            <td>{{contato.serial}}</td>
            <td>{{contato.nome | name | ellipsis:10 }}</td>
            <td>{{contato.telefone}}</td>
            <td>{{contato.operadora.nome | lowercase}}</td>
            <td>{{contato.data | date:'dd/MM/yyyy HH:mm'}}</td>
            <td>
              <div
                style="width: 20px; height: 20px"
                ng-style="{'background-color': contato.cor}"
              ></div>
            </td>
          </tr>
        </tbody>
      </table>
      <hr />
      <form name="contatoForm">
        <label for="nome">Nome</label>
        <input
          class="form-control"
          type="text"
          id="nome"
          name="nome"
          placeholder="Digite seu nome..."
          ng-model="contato.nome"
          ng-required="true"
          ng-minlength="10"
          ui-focus
          focused="true"
        />
        <label for="telefone">Telefone</label>
        <input
          class="form-control"
          type="text"
          id="telefone"
          name="telefone"
          placeholder="Digite seu telefone..."
          ng-model="contato.telefone"
          ng-required="true"
          ng-pattern="/^\d{4,5}-\d{4}$/"
        />

        <input
          type="text"
          class="form-control"
          name="data"
          ng-model="contato.data"
          placeholder="Data"
          ui-date
        />

        <select
          class="form-control"
          title="operadoras"
          id="operadoras"
          ng-model="contato.operadora"
          ng-options="operadora.nome + ' (' + (operadora.preco | currency) + ')' for operadora in operadoras | orderBy:'nome'"
        >
          <option value="">Selecione um operadora</option>
        </select>
      </form>

      <div
        ng-show="contatoForm.nome.$dirty"
        ng-messages="contatoForm.nome.$error"
      >
        <div ng-message="required" class="alert alert-danger">
          Por favor, preencha o campo nome!
        </div>

        <div ng-message="minlength" class="alert alert-danger">
          O campo nome deve ter no mínimo 10 caracteres.
        </div>
      </div>

      <div
        ng-show="contatoForm.telefone.$error.required && contatoForm.telefone.$dirty"
        class="alert alert-danger"
      >
        Por favor, preencha o campo nome!
      </div>

      <div
        ng-show="contatoForm.telefone.$error.pattern && contatoForm.telefone.$dirty"
        class="alert alert-danger"
      >
        O telefone deve estar no formato DDDDD-DDDD!
      </div>

      <div class="d-grid gap-2">
        <button
          type="button"
          class="btn btn-primary"
          ng-click="adicionarContato(contato)"
          ng-disabled="contatoForm.$invalid"
        >
          Adicionar Contato
        </button>

        <button
          type="button"
          class="btn btn-danger"
          ng-click="deletarContatos(contatos)"
          ng-if="isContatoSelecionado(contatos)"
        >
          Adicionar Contato
        </button>
      </div>
    </div>
    <div ng-include="'view/footer.html'"></div>
  </body>
</html>
