<!DOCTYPE html>
<html lang="en" ng-app="listaTelefonica">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      .p-5.mb-4.bg-light.rounded-3 {
        width: 400px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
      }

      table {
        margin-top: 20px;
      }

      .form-control {
        margin-bottom: 10px;
      }

      .selecionado {
        background-color: yellow;
      }
    </style>

    <link rel="stylesheet" href="lib/bootstrap/bootstrap.css" />
    <title>Document</title>
    <script src="lib/angular/angular.js"></script>
    <script>
      angular.module("listaTelefonica", []);
      angular
        .module("listaTelefonica")
        .controller("listaTelefonicaCtrl", function ($scope) {
          $scope.app = "Lista Telefônica";
          $scope.contatos = [
            { nome: "Pedro", telefone: "99998888" },
            { nome: "Ana", telefone: "99998877" },
            { nome: "Maria", telefone: "99998866" },
          ];
          $scope.operadoras = [
            { nome: "Oi", codigo: 14, categoria: "Celular" },
            { nome: "Vivo", codigo: 15, categoria: "Celular" },
            { nome: "Tim", codigo: 41, categoria: "Celular" },
            { nome: "GVT", codigo: 25, categoria: "Fixo" },
            { nome: "Embratel", codigo: 21, categoria: "Fixo" },
          ];
          $scope.adicionarContato = function (contato) {
            $scope.contatos.push(angular.copy(contato));
            delete $scope.contato;
          };
          $scope.classe = "selecionado";
        });
    </script>
  </head>
  <body ng-controller="listaTelefonicaCtrl">
    <div class="p-5 mb-4 bg-light rounded-3">
      <h3>{{app}}</h3>
      <table class="table">
        <thead>
          <th>Nome</th>
          <th>Telefone</th>
          <th>Operadora</th>
        </thead>
        <tbody>
          <tr ng-class="classe" ng-repeat="contato in contatos">
            <td>{{contato.nome}}</td>
            <td>{{contato.telefone}}</td>
            <td>{{contato.operadora.nome}}</td>
          </tr>
        </tbody>
      </table>
      <hr />
      <label for="nome">Nome</label>
      <input
        class="form-control"
        type="text"
        id="nome"
        placeholder="Digite seu nome..."
        ng-model="contato.nome"
      />
      <label for="telefone">Telefone</label>
      <input
        class="form-control"
        type="text"
        id="telefone"
        placeholder="Digite seu telefone..."
        ng-model="contato.telefone"
      />

      <select
        class="form-control"
        title="operadoras"
        id="operadoras"
        ng-model="contato.operadora"
        ng-options="operadora.nome for operadora in operadoras"
      >
        <option value="">Selecione um operadora</option>
      </select>

      <div class="d-grid">
        <button
          type="button"
          class="btn btn-primary"
          ng-click="adicionarContato(contato)"
          ng-disabled="!contato.nome || !contato.telefone"
        >
          Adicionar Contato
        </button>
      </div>
    </div>
    {{nome}} {{telefone}}
  </body>
</html>
