<div class="p-5 mb-4 bg-light rounded-3">
  <h3>{{app}}</h3>

  <ui-accordions>
    <ui-accordion title="Accordio 1">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam pariatur
      reprehenderit sed ipsa, dolore itaque dicta, iusto, vel perspiciatis non
      sit praesentium. Repudiandae adipisci veniam ad inventore assumenda ex
      ipsam!
    </ui-accordion>
    <ui-accordion title="Accordio 2">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor laudantium
      modi sequi magni ullam unde? Sapiente libero inventore dicta voluptatibus
      aut asperiores recusandae corrupti velit soluta et quo, id nisi?
    </ui-accordion>
  </ui-accordions>
  <hr />

  <ui-alert ng-show="!!error" title="Ops, aconteceu um problema!"
    >{{error}}</ui-alert
  >
  <input
    class="form-control"
    type="text"
    placeholder="O que vc está buscando?"
    ng-model="criterioDeBusca"
  />
  <table class="table">
    <thead ng-show="contatos.length > 0">
      <th></th>
      <th>Serial</th>
      <th><a href="" ng-click="aplicarFiltroPor('nome')">Nome</a></th>
      <th>
        <a href="" ng-click="aplicarFiltroPor('telefone')">Telefone</a>
      </th>
      <th>Operadora</th>
      <th>Data</th>
      <th></th>
    </thead>
    <tbody>
      <tr
        ng-class="{'selecionado negrito': contato.selecionado}"
        ng-repeat="contato in contatos | filter:criterioDeBusca | orderBy:filtrarPor:direcaoDaOrdenacao"
      >
        <td>
          <input type="checkbox" ng-model="contato.selecionado" />
        </td>
        <td>{{contato.serial}}</td>
        <td>{{contato.nome | name | ellipsis:10 }}</td>
        <td>{{contato.telefone}}</td>
        <td>{{contato.operadora.nome | lowercase}}</td>
        <td>{{contato.data | date:'dd/MM/yyyy HH:mm'}}</td>
        <td>
          <div
            style="width: 20px; height: 20px"
            ng-style="{'background-color': contato.cor}"
          ></div>
        </td>
      </tr>
    </tbody>
  </table>
  <hr />
  <div class="d-grid gap-2">
    <a class="btn btn-primary" href="#!/novoContato">Novo Contato</a>

    <button
      type="button"
      class="btn btn-danger"
      ng-click="deletarContatos(contatos)"
      ng-if="isContatoSelecionado(contatos)"
    >
      Adicionar Contato
    </button>
  </div>
</div>
